.button {
  width: 100px;
  border-radius: 10%;
  background-color: #fff;
  font: inherit;
  font-size: 14px;
}

.form {
  width: 200px;
  height: 150px;
  border: 1px solid #000;
  padding: 6px 0 0 6px;
}

.night {
  color: #fff;
}
